from flask import Flask, render_template, request

app = Flask(__name__)

@app.route('/index', methods=['GET', 'POST'])
def index():
    return render_template('index.html')

@app.route('/validate', methods=['GET', 'POST'])
def home():
    if request.method == 'POST':
        username = request.form['username']
        password = request.form['password']

        if username == 'kruthi' and password == '1234':
            return render_template('home.html', username=username)
        else:
            return render_template('index.html')

if __name__ == "__main__":
    app.run(debug=True)
